<div style="text-align: center;background-color: #f7f7f7;padding: 1rem;font-size: 1.5rem;font-family: 'Helvetica-Now-Medium', 'Roboto', sans-serif;margin-bottom: 20px;}"> 
     {{ message.object }} 
</div>
	<table style="width: 100%;">
		<tr>
			<td style="width: 50%; border-right: 1px solid gray;">
				<div style="-webkit-box-flex: 0;-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;">
                    Nom   : {{ message.fromName }}<br>
                    Email : {{ message.fromEmail }}<br>
                    Tél.  :  {{ message.fromPhone }}
			    </div>
			</td>
			<td style="width: 50%;">
				<div  style="text-align: right;">
					<p>
                        {{ message.date|date('Y m d')}}
                    </p>
                </div>
			</td>
		</tr>
	</table>
	<hr style="margin-top: 1rem;margin-bottom: 0.5rem;border: 0;border-top: 1px solid rgba(0,0,0,.1) !important;box-sizing: content-box;height: 0;overflow: visible; font-size: 1px;">
	<div>
        {{ message.content|raw }}
        <br>
        <i>message envoyé via le formulaire klinique.fr</i>
    </div>
    <br>
    <br>
    <br>
    <div style="background-color: #f7f7f7;text-align: center;">
        <img src="{{ asset('build/images/logo.png') }}" width="200" height="70">
        <p>www.klinique.fr</p>
    </div